<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="thriftServer"
             type="Thrift.Server.Config.ThriftConfigSection, Thrift.Server"/>
  </configSections>

  <thriftServer>
    <services>
      <service name="demo"
               port="8500"
               socketBufferSize="8192"
               messageBufferSize="8192"
               maxMessageSize="81920"
               maxConnections="5000"
               serviceType="you service type"
               processorType="you processor type">
        <registry>
          <zookeeper path="zookeeper.config"
                     name="thrift"
                     owner="dev.hong"
                     znode="com.sodao.demo.service$Iface"/>
        </registry>
      </service>
    </services>
  </thriftServer>

</configuration>