<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="thriftServer"
             type="Thrift.Server.Config.ThriftConfigSection, Thrift.Server"/>
  </configSections>

  <thriftServer>
    <services>
      <service name="example"
               port="8500"
               socketBufferSize="8192"
               messageBufferSize="8192"
               maxMessageSize="81920"
               maxConnections="5000"
               serviceType="Server.ExampleServiceImpl, Server"
               processorType="Example.Service.Thrift.AsyncService1+Processor, Server">
        <registry>
          <zookeeper path="zookeeper.config"
                     name="thrift"
                     owner="dev.hong"
                     znode="com.example.service.thrift.Service1$Iface"/>
        </registry>
      </service>
    </services>
  </thriftServer>

</configuration>